.cards
  align-items: center
  color: $color-text2
  display: flex
  flex-wrap: wrap
  justify-content: center;
  padding: 15px
  width: 100%

.card
  align-items: center
  background: $color-secundary
  display: flex
  flex-direction: column
  height: 300px
  margin: 15px
  justify-content: center
  width: 350px

  &:hover
    background: darken($color-secundary, 30%)

  &-title
    font-size: 2em
    font-weight: bold
    padding: 20px 0
