$background1 = #F4F4F4
$background2 = #333333
$background3 = #FDFDFD

$color-text1 = #333
$color-text2 = #fff

$color-primary = #3e2655
$color-secundary = #E46582


@font-face {
  font-family: 'zonapro'
  src: url('assets/zonapro/ZonaPro-Thin.otf') format('opentype')
}

@font-face {
  font-family: 'zonapro'
  font-weight: bold
  src: url('assets/zonapro/ZonaPro-Bold.otf') format('opentype')
}
