

// Import global styles

@import "./icomoon/style.css"
@import "./global/reset.styl"
@import "./global/variables.styl"


// import style components

@import "./components/header.styl"
@import "./components/footer.styl"
@import "./components/modal.styl"
@import "./components/terminos.styl"
@import "./components/cards.styl"
@import "./components/perfil.styl"
@import "./components/tarot.styl"
@import "./components/single.styl"

// base layout

*,
*:before,
*:after
  box-sizing border-box

body
  background: $background1
  color: $color-text1
  font-family: 'zonapro'
  font-size: 16px
  margin: 0 auto
  max-width: 1366px
  position: relative

.button-primary
  background: $color-primary
  border: 0
  border-radius: 4px
  color: white
  font-weight: bold
  margin: 0 1em
  padding: .6em .7em

.hiden
  display: none

.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x
  background-color: $color-secundary !important
